
.upload-item {
  height: 90px;

  .user-bg-upload {
    position: absolute;
    left: 0;
    top: -10px;
    width: 90px;
    height: 90px;
    background: url("/assets/images/teachCenter/user-upload.png") no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
  }

  .user-img {
    position: absolute;
    left: 0;
    top: -10px;
    width: 90px;
    height: 90px;
  }

  .ant-form-item-label {
    line-height: 4;
  }

  .delete {
    position: absolute;
    left: 66px;
    top: -20px;
    width: 37px;
    height: 37px;
    background: url("/assets/images/deleteImg.png") no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
  }
}
