.grade-list{

}
.opt-pop .ant-popover-inner-content{
  padding: 0;
}
.opt-ul-list {
  li{
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    &:hover{
      background: #ff8c15;
      color: #fff;
    }
  }
}
