.header {
  position: fixed;
  top: 0;
  left: 16.666%;
  right: 0;
  height: 60px;
  background-color: #fff;
  font-size: 16px;
  z-index: 99;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);

  .info-ul {
    overflow: hidden;
    line-height: 60px;

    > li {
      float: left;
      padding: 0 30px;
    }

    .name-li {
      &:after {
        position: relative;
        display: inline-block;
        content: " ";
        width: 1px;
        height: 20px;
        top: 6px;
        left: 27px;
        background-color: #e8e8e8;
      }
    }

    .user-li {
      padding-right: 10px;
      img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-top: 12px;
        margin-right: 4px;
      }
    }


  }
  .logout-div{
    .pop-open {
      padding: 0 40px 0 20px;
      margin-top: 20px;
    }
    .log-box {
      width: 80px;
      overflow: hidden;
      line-height: 20px;
      cursor: pointer;
    }
  }
}

