@import "./default.less";
#root,.App{
  width: 100%;
  height: 100%;
}
.ant-form-item{
  margin-bottom: 20px;
}
.ant-form-item-with-help{
  margin-bottom: 0;
}
.container {
  .nav-left{
    position: fixed;
    width: 16.66666667%;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #001529;
  }
  .main {
    margin-left: 16.66666667%;
    overflow: auto;
    background-color: @colorL;
    .content{
      margin-top: 20px;
      background-color: #fff;
    }
  }
}
