@import "iconfont.css";
@import "./default.less";

#root, .App {
  width: 100%;
  height: 100%;
}
// 全局覆盖ant样式
.ant-form-item {
  margin-bottom: 20px;
}

.ant-form-item-with-help {
  margin-bottom: 0;
}
.ant-select-selector{
  text-align: left;
}
.ant-select {
  width: 100%;
}
.bread-wrap{
  padding: 10px 0;
}

.container {
  // 左侧导航
  .nav-left {
    position: fixed;
    width: 16.66666667%;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #001529;
  }

  // 中间内容
  .main {
    margin-left: 16.66666667%;
    overflow: auto;
    padding-top: 60px;
    .content {
      padding: 0 20px;
    }
  }

  // v-box 布局
  .v-box {
    .hd {
      height: 50px;
      line-height: 50px;

      h2 {
        float: left;
        color: #303133;
        font-size: 18px;
        font-weight: 500;
      }

      .square {
        &:before {
          display: inline-block;
          content: "";
          width: 8px;
          height: 8px;
          background-color: #FF8C15;
          margin-right: 8px;
        }
      }
    }

    .bd {
      padding: 20px 28px;
      background-color: #fff;
      text-align: center;
      overflow: hidden;
    }

    .no-pd {
      padding: 0;
    }
  }

  //  s-query
  .s-query {
    overflow: hidden;

    .no-mb {
      margin-bottom: 0;
    }

    > li {
      width: 460px;
      float: left;
      line-height: 40px;
      margin-right: 40px;
      margin-bottom: 20px;

      &:last-child {
        margin-right: 0;
      }

      > .th {
        float: left;
        font-size: 16px;
        color: #303133;
        line-height: 40px;
      }

      .required {
        &:before {
          position: relative;
          content: "*";
          display: inline-block;
          color: #F56C6C;
          font-size: 20px;
          top: 4px;
        }

      }

      > .td {
        overflow: hidden;
        font-size: 16px;
        color: #666;
        text-align: left;
      }

    }

    .area-li {
      height: 120px;
    }

    .wd-400 {
      width: 400px;
    }

    .wd-300 {
      width: 300px;
    }

    .wd-600 {
      width: 600px;
    }

    .wd-500 {
      width: 500px;
    }

    .auto {
      width: auto;
    }

    .full-width {
      width: 100%;
    }

    .tip {
      color: red;
      line-height: 1.5;
    }
  }

//  头部导航
  .top-bar {
    height: 50px;
    padding: 0 20px;
    line-height: 48px;
    background-color: #fff;
    .bar-ul {
      >li {
        float: left;
        border-bottom: 2px solid #ffffff;
        color: #303133;
        font-size: 16px;
        padding: 0 10px;
        margin-right: 10px;
        cursor: pointer;
      }
      .active{
        border-bottom: 2px solid #FF8C15;
        color: #FF8C15;
      }

    }

  }
//  margin-top值
  .mt-10{
    margin-top: 10px;
  }
  .mt-20{
    margin-top: 20px;
  }
//  text-align 值
  .ali-left{
    text-align: left;
  }
  .ali-right{
    text-align: right;
  }
  .ali-center{
    text-align: center;
  }
}



